@import "../../stylesheet/variables.css";

.mainSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  align-items: center;
  max-width: 100%;

  text-align: center;
  @media screen and (min-width: 1200px) {
    gap: 50px;
  }
}
.boxes {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.picture {
  width: 100%;
  @media screen and (min-width: 1200px) {
    max-width: 768px;
  }
}
.title {
  font-size: var(--font-size-title-S);
  font-weight: lighter;
  color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 14px;
}
.iconBox {
  /* border: 1px dashed  rgba(208, 169, 86, 1); */
  /* box-shadow: 0px 1px 1px 1px var(--color-primary); */
  padding: 10px;
}
.des {
  font-size: var(--font-size-title-S);

  color: var(--color-primary);
  text-transform: uppercase;
}
