@import "../../stylesheet/variables.css";

.section__background {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../../images/lastMobile1x.jpg");
  background-size: cover;
  background-position: center center;
  padding-block: 18px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/lastMobile2x.jpg");
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/lastTablet1x.jpg");
    padding-block: 32px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/lastTablet2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/lastDesctop1x.jpg");
    padding-block: 100px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.75),
          rgba(47, 48, 58, 0.75)
        ),
        url("../../images/lastDesctop2x.jpg");
    }
  }
}
/* .container {
  padding: 0px 16px;
  @media screen and (min-width: 768px) {
    padding: 0px 32px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0px 100px;
  }
} */
.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 100%;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    padding: 0 32px;
  }
  @media screen and (min-width: 1200px) {
    max-width: calc(1200px - 100px);
  }
}
.title {
  text-align: center;
}
.titleSecond {
  font-size: var(--font-size-title-S);
  font-weight: lighter;
  color: var(--color-main);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 14px;
  @media screen and (min-width: 768px) {
    font-size: var(--font-size-title-M);
  }
}
.titleFirst {
  font-size: var(--font-size-subtitle-S);
  font-weight: bold;
  letter-spacing: 0.9px;
  background-image: var(--color-background-gradient);
  -webkit-background-clip: text;
  color: transparent;
  @media screen and (min-width: 768px) {
    font-size: var(--font-size-subtitle-M);
  }
}
.button {
  background-image: var(--color-background-button);
  border: 0;
  border-radius: 20px;
  padding: 15px 25px 15px 25px;

  font-size: var(--font-size-button);
  font-weight: 400;
  color: var(--color-text-button);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-image: none;
  background-color: transparent;
  border: 1px solid rgba(208, 169, 86, 1);
  color: var(--color-text-button-second);
}
