:root {
  --color-main: #ffffff;
  --color-primary: rgba(208, 169, 86, 1);
  --color-secondary: #000000;
  --color-background-gradient: linear-gradient(
    to right,
    rgba(148, 124, 81, 1),
    rgba(208, 169, 86, 1)
  );
  --color-background: rgba(0, 0, 0, 0.5);
  --color-background-second: rgba(255, 255, 255, 50%);

  --color-background-button: linear-gradient(
    to right,
    rgba(148, 124, 81, 1),
    rgba(208, 169, 86, 1)
  );
  --color-border-hover: rgba(208, 169, 86, 1);
  --color-text-button: #ffffff;
  --color-text-button-second: #000000;
  --font-size-button: 14px;

  --font-size-title-S: 14px;
  --font-size-subtitle-S: 32px;

  --font-size-title-M: 28px;
  --font-size-subtitle-M: 60px;

  --font-size-text: 14px;
  --font-size-text-M: 18px;
}
