.button {
  background-image: var(--color-background-button);
  border: 0;
  border-radius: 20px;
  padding: 15px 25px 15px 25px;
  display: inline-flex;
  align-content: center;

  gap: 10px;

  font-size: var(--font-size-button);
  font-weight: 400;
  color: var(--color-text-button);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-image: none;
  background-color: transparent;
  border: 1px solid rgba(208, 169, 86, 1);
  color: var(--color-text-button-second);
}

.buttonAnimation {
  animation: shakeButton 1s ease-in-out;
}

@keyframes shakeButton {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}
