@import "../../stylesheet/variables.css";

.serviceBox__title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-title-S);
  letter-spacing: 5px;
  color: var(--color-main);
  background-color: var(--color-background);
  padding-block: 10px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

