.menuWrapper {
  display: block;
  background-color: #33333365;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.menu {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMenu {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.link {
  color: #ff0a0a;
}
.link:hover {
  color: #d0ff00;
}