@import "../../stylesheet/variables.css";

.menuWrapper {
  display: block;
  background-color: #33333365;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.menu {
  background-image: var(--color-background-gradient);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMenu {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.link {
  color: var(--color-second);
  transition: all 0.5s;
}
.link:hover {
  color: var(--color-primary);
}

.box1 {
  background-color: var(--color-main);
  border: 1px solid var(--color-primary);
  width: 120px;
  height: 80px;
  padding: 5px;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box2 {
  background-color: var(--color-main);
  border: 1px solid var(--color-primary);
  width: 120px;
  height: 80px;
  padding: 5px;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.row1 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.row2 {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.boxes {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.buttonModal {
  border: 0;
  background: transparent;
}
.textLink {
  color: var(--color-secondary);
}

