@import "../../stylesheet/variables.css";

.line {
  width: 20%;
  height: 1px;
  margin: 0 auto;
  background-color: var(--color-background-second);
}
.icon {
  width: 24px;
  height: 18px;
  fill: var(--color-primary);
}
.reviewsBox {
  margin-bottom: 32px;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
  }
}
.reviewBox {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
   @media screen and (min-width: 1200px) {
    width: calc(100%/3);
    
}
  }
  
.reviewOpinion {
  text-align: center;
  font-size: var(--font-size-text);
  color: var(--color-secondary);
  @media screen and (min-width: 768px) {
     font-size: var(--font-size-text);
  }
}
.reviewTitle {
  text-align: center;
}
.reviewAuthor {
  background-image: var(--color-background-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-size: var(--font-size-text);
  font-weight: bold;
   @media screen and (min-width: 768px) {
     font-size: var(--font-size-text-M);
  }
}
.reviewData {
  background-image: var(--color-background-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-size: var(--font-size-text);
  font-weight: lighter;
  letter-spacing: 1.4px;
   @media screen and (min-width: 768px) {
     font-size: var(--font-size-text-M);
  }
}

.reviewSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
