@import "../../stylesheet/variables.css";

.line {
  width: 20%;
  height: 1px;
  margin: 0 auto;
  background-color: var(--color-background-second);
}
.icon {
  width: 24px;
  height: 18px;
  fill: var(--color-primary);
}
.reviewsBox {
  margin-bottom: 32px;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
  }
}
.reviewBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 3);
  }
}

.reviewOpinion {
  text-align: center;
  font-size: var(--font-size-text);
  color: var(--color-secondary);
  @media screen and (min-width: 768px) {
    font-size: var(--font-size-text);
  }
}
.reviewTitle {
  text-align: center;
}
.reviewAuthor {
  background-image: var(--color-background-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-size: var(--font-size-text);
  font-weight: bold;
  @media screen and (min-width: 768px) {
    font-size: var(--font-size-text-M);
  }
}
.reviewData {
  background-image: var(--color-background-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-size: var(--font-size-text);
  font-weight: lighter;
  letter-spacing: 1.4px;
  @media screen and (min-width: 768px) {
    font-size: var(--font-size-text-M);
  }
}

.reviewSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fadeIn0 {
  opacity: 0.1;
  transform: translateY(120px);
  animation: fadeIn0 linear 6s forwards;
}
.fadeIn1 {
  opacity: 0.1;
  transform: scale(0.3);
  animation: fadeIn1 linear 2s forwards;
}
.fadeIn2 {
  opacity: 0.1;
  transform: translateY(-220px);
  animation: fadeIn2 linear 7s forwards;
}
@keyframes fadeIn0 {
  0% {
    opacity: 0;
    transform: translateX(-120px);
  }
  25% {
    opacity: 0.5;
    transform: translateX(-60px);
  }
  50% {
    opacity: 0.8;
    transform: translateX(0px);
  }
  75%{
    opacity: 1;
    transform: translateX(60px);
  }
  100% {
    opacity: 5;
    transform: translateX(0);
  }
}
@keyframes fadeIn1 {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  25% {
    opacity: 0.5;
    transform: scale(0.6);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.9);
  }
  75%{
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 5;
    transform: scale(1.0);
  }
}


@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(-220px);
  }
  25% {
    opacity: 0.5;
    transform: translateY(-110px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(0px);
  }
  75%{
    opacity: 1;
    transform: translateY(110px);
  }

  100% {
    opacity: 5;
    transform: translateY(0);
  }
}
