.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 290px;
  height: 100px;
}

.navMenu {
  display: flex;
  gap: 30px;
}
.link {
  text-decoration: none;
  font-size: var(--font-size-text);
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: right;
  color: var(--color-main);

  transition: all 1s;
}
.link:hover {
  color: var(--color-primary);
  /* text-decoration: underline; */
}
.link:active,
.link:focus {
  color: var(--color-primary);
}
