.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 290px;
  height: 100px;
}
.button {
  background-color: transparent;
  border: 1px solid #ddd9d1;
  border-radius: 20px;
  padding: 15px 25px 15px 25px;

  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}



.navMenu {
  display: flex;
  gap: 30px;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: right;
  color: #ffffff;

  transition: all 0.3ms;
}
.link:hover {
  color: #ffffff;
  text-decoration: underline;
}
.link:active,
.link:focus {
  color: #ffffff;
  text-decoration: underline;
}
