.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 290px;
  height: 100px;
}
.button {
  background-image: linear-gradient(
    to right,
    rgba(148, 124, 81, 1),
    rgba(208, 169, 86, 1)
  );
  border: 0;
  border-radius: 20px;
  padding: 15px 25px 15px 25px;

  font-size: 14px;
  font-weight: 400;
  color: #ffffff;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-image: none;
  background-color: transparent;
  border: 1px solid rgba(208, 169, 86, 1);
}

.navMenu {
  display: flex;
  gap: 30px;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: right;
  color: #ffffff;

  transition: all 0.3ms;
}
.link:hover {
  color: #ffffff;
  text-decoration: underline;
}
.link:active,
.link:focus {
  color: #ffffff;
  text-decoration: underline;
}
