@import "../../stylesheet/variables.css";

.menuWrapper {
  display: block;
  background-color: #33333365;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.menu {
  background-image: var(--color-background-gradient);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
}
.policyList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 auto;
  text-align: left;
  width: 320px;
  max-height: 70vh;
  overflow-y: auto;
  @media screen and (min-width: 768px) {
    width: 100%;
    min-height: 90vh;
  }
}
.policyTitle {
  font-size: 10px;
  font-weight: bold;
  color: var(--color-secondary);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
.policyDescription {
  font-size: 6px;
  font-weight: lighter;
  color: var(--color-secondary);
  @media screen and (min-width: 768px) {
    font-size: 10px;
  }
}
